
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="employee" routerLinkActive="active">Employee Crud</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class=" nav-link  " routerLink="employee" routerLinkActive="active">Employee List</a>
        </li>
        <li class="nav-item">
            <a class=" nav-link " routerLink="create-employee" routerLinkActive="active">Create Employee</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>
<body>
<div class="container main-con">
<router-outlet></router-outlet>
</div>
</body>
<footer class="footer">
    <nav class="navbar navbar-light bg-success">
        <div class="container-fluid justify-content-center">
         Developer @ Amit Nandi
        </div>
      </nav>
</footer>

